<a href="https://colab.research.google.com/github/AnnisaFarikha/Algoritma/blob/main/Praktikum06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Membuat dan Mengakses List 1D

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici"]
print(mahasiswa[0])  #Andi
print(mahasiswa[1])  #Budi
print(mahasiswa[-1]) #Cici

Andi
Budi
Cici

#Update & Operasi Dasar List

In [ ]:
nilai = [85, 90, 78]
nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

#Slicing List

In [ ]:
nilai = [85, 90, 78, 92, 88]
print(nilai[0:3]) #[85, 90, 78]
print(nilai[2:])  #[78, 92, 88]
print(nilai[:3])  #[85, 90, 78]

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

#List 2D (Matriks)

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriks[0] [0]) #1
print(matriks[1] [2]) #6
print(matriks [2])    #[7, 8, 9]

1
6
[7, 8, 9]

#Operasi pada List 2D

In [ ]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []

for i in range(len(A)):
    baris = []
    for j in range(len(A[0])):
        baris.append(A[i][j] + B[i][j])
    C.append(baris)

print(C)

[[8, 10, 12], [14, 16, 18]]

#Studi Kasus: Pengelolaan Nilai Mahasiswa

In [ ]:
nilai = [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84]
]

for i, baris in enumerate(nilai, start=1):
    rata = sum(baris) / len(baris)
    print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

#Tugas 3: Akses Elemen List

In [ ]:
mahasiswa = ["Reta", "Aini", "Kyla", "Herdin", "Sean"]

print("Nama pertama:", mahasiswa[0])
print("Nama terakhir:", mahasiswa[-1])
print("Nama pada indeks ke-2:", mahasiswa[2])

Nama pertama: Reta
Nama terakhir: Sean
Nama pada indeks ke-2: Kyla

#Tugas 4: Operasi Dasar List

In [ ]:
nilai = [70, 75, 80]

nilai[1] = 85
nilai.append(90)
nilai.remove(70)

print("Hasil akhir:", nilai)

Hasil akhir: [85, 80, 90]

#Tugas 5: Slicing List

In [ ]:
angka = list(range(1, 11))

print("3 elemen pertama:", angka[0:3])
print("4 elemen terakhir:", angka[-4:])
print("Elemen indeks genap:", angka[1::2])  #indeks 0,2,4,...

3 elemen pertama: [1, 2, 3]
4 elemen terakhir: [7, 8, 9, 10]
Elemen indeks genap: [2, 4, 6, 8, 10]

#Tugas 6: List 2D - Matriks

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6]
]

print("Baris 1 kolom 2:", matriks[0][1])
print("Baris 2 kolom 3:", matriks[1][2])
print("Seluruh baris pertama:", matriks[0])

Baris 1 kolom 2: 2
Baris 2 kolom 3: 6
Seluruh baris pertama: [1, 2, 3]

#Tugas 7: Operasi Matriks 2D

In [ ]:
A = [[1, 2], [3, 4]]
B = [[5, 6], [7, 8]]
C = []

for i in range(len(A)):
    baris = []
    for j in range(len(A[0])):
        baris.append(A[i][j] + B[i][j])
    C.append(baris)

print("Hasil penjumlahan matriks:")
print(C)

Hasil penjumlahan matriks:
[[6, 8], [10, 12]]

#Tugas 8: Rata-rata Nilai Mahasiswa

In [ ]:
nilai = [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]

for i, baris in enumerate(nilai, start=1):
    rata = sum(baris) / len(baris)
    print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 80.00
Rata-rata mahasiswa 2: 65.00
Rata-rata mahasiswa 3: 92.33

#Tugas 9: Studi Kasus - Data Toko

In [ ]:
stok = [
    ["Buku", 20],
    ["Pulpen", 35],
    ["Penghapus", 15]
]

print("Daftar Stok Barang:")
for barang in stok:
    print(f"{barang[0]}: {barang[1]}")

# mencari stok terbanyak
terbanyak = max(stok, key=lambda x: x[1])
print("\nBarang dengan stok terbanyak:", terbanyak[0], "-", terbanyak[1])

Daftar Stok Barang:
Buku: 20
Pulpen: 35
Penghapus: 15

Barang dengan stok terbanyak: Pulpen - 35