<a href="https://colab.research.google.com/github/AnnisaFarikha/Algoritma/blob/main/Praktikum04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Perulangan For dengan Range

In [ ]:
for i in range(1, 5):
    print(i)

1
2
3
4

#Perulangan While

In [ ]:
n = int(input("Masukkan angka: "))
while n > 0:
    print(n)
    n -= 1

Masukkan angka: 5
5
4
3
2
1

#Nested Loop (Segitiga Bintang)

In [ ]:
for i in range(1, 5):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****

#Break dan Continue

In [3]:
for i in range(1, 10):
    if i == 5:
        print("Angka 5 ditemukan")
        break

Angka 5 ditemukan

In [4]:
for i in range(1, 5):
    if i % 2 == 1:
        continue
    print(i)

2
4

#For pada Dictionary

In [6]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}

for k, v in data.items():
    print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

#For dengan Enumerate

In [7]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
    print(i, nama)

1 Andi
2 Budi
3 Cici

#Kasir Multi-Item

In [8]:
total = 0

while True:
    barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
    if barang.lower() == "selesai":
        break
    harga = float(input(f"Masukkan harga {barang}: "))
    jumlah = int(input(f"Masukkan jumlah {barang}: "))
    subtotal = harga * jumlah
    total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): Buku
Masukkan harga Buku: 50000
Masukkan jumlah Buku: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti): Pulpen
Masukkan harga Pulpen: 5000
Masukkan jumlah Pulpen: 3
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja : Rp 115000.0

#Menampilkan Deret Angka

In [9]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

#Hitung Faktorial

In [10]:
n = int(input("Masukkan angka: "))
hasil = 1
i = 1
while i <= n:
    hasil *= i
    i += 1
print("Faktorial dari", n, "=", hasil)

Masukkan angka: 5
Faktorial dari 5 = 120

#Pola Segitiga Terbalik

In [11]:
tinggi = 5
for i in range(tinggi, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

*****
****
***
**
*

#Cari Bilangan Prima dengan Break

In [13]:
bil = int(input("Masukkan bilangan: "))

if bil > 1:
    for i in range(2, bil):
        if bil % i == 0:
            print(bil, "bukan bilangan prima.")
            break
    else:
        print(bil, "adalah bilangan prima.")
else:
    print(bil, "bukan bilangan prima.")

Masukkan bilangan: 5
5 adalah bilangan prima.

#Tampilkan Hanya Bilangan Genap dengan Continue

In [14]:
for i in range(1, 21):
    if i % 2 != 0:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

#Iterasi Dictionary Mahasiswa

In [15]:
mahasiswa = {"Nama": "Budi", "Umur": 21, "Prodi": "Teknik Komputer"}

for key, value in mahasiswa.items():
    print(f"{key} : {value}")

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

#Enumerate Daftar Barang

In [16]:
barang = ["Buku", "Pulpen", "Tas"]

for i, item in enumerate(barang, start=1):
    print(i, item)

1 Buku
2 Pulpen
3 Tas

#Studi Kasus - Kasir Diskon

In [19]:
total = 0

while True:
    nama = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
    if nama.lower() == "selesai":
        break
    harga = float(input("Masukkan harga barang: Rp "))
    total += harga

if total >= 200000:
    diskon = total * 0.1
else:
    diskon = 0

total_bayar = total - diskon

print("\n===== STRUK BELANJA =====")
print(f"Total Belanja : Rp {total:,.0f}")
print(f"Diskon        : Rp {diskon:,.0f}")
print(f"Total Bayar   : Rp {total_bayar:,.0f}")
print("==========================")

Masukkan nama barang (ketik 'selesai' untuk berhenti): Facial Wash
Masukkan harga barang: Rp 22000
Masukkan nama barang (ketik 'selesai' untuk berhenti): Moisturizer
Masukkan harga barang: Rp 32000
Masukkan nama barang (ketik 'selesai' untuk berhenti): Sunscreen
Masukkan harga barang: Rp 41000
Masukkan nama barang (ketik 'selesai' untuk berhenti): Body Lotion
Masukkan harga barang: Rp 40000
Masukkan nama barang (ketik 'selesai' untuk berhenti): Micellar Water
Masukkan harga barang: Rp 35000
Masukkan nama barang (ketik 'selesai' untuk berhenti): Sunblock
Masukkan harga barang: Rp 44000
Masukkan nama barang (ketik 'selesai' untuk berhenti): Kapas
Masukkan harga barang: Rp 21000
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== STRUK BELANJA =====
Total Belanja : Rp 235,000
Diskon        : Rp 23,500
Total Bayar   : Rp 211,500
==========================