<a href="https://colab.research.google.com/github/AnnisaFarikha/Algoritma/blob/main/Praktikum07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tuple: Data Tetap yang Tidak Bisa Diubah

In [ ]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

#Dictionary Dasar: Menyimpan Data Mahasiswa

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

print("NIM:", mahasiswa["NIM"])
print("Nama:", mahasiswa["Nama"])
print("Prodi:", mahasiswa["Prodi"])

NIM: 20251001
Nama: Andi
Prodi: TRK

#Operasi pada Dictionary

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

mahasiswa["Umur"] = 20                 #menambah data
mahasiswa["Prodi"] = "Teknik Komputer" #memperbarui data
del mahasiswa["Umur"]                  #menghapus data

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

#Set dan Operasi Himpunan

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

#Studi Kasus: Data Mahasiswa dan Mata Kuliah

In [ ]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata Kuliah Mhs1:", mhs1)
print("Mata Kuliah Mhs2:", mhs2)
print("Mata Kuliah yang sama:", mhs1 & mhs2)

Mata Kuliah Mhs1: {'Algoritma', 'Matematika', 'Bahasa Inggris'}
Mata Kuliah Mhs2: {'Algoritma', 'Matematika', 'Basis Data'}
Mata Kuliah yang sama: {'Algoritma', 'Matematika'}

#Studi Kasus Dictionary: Daftar Nilai Mahasiswa

In [ ]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Caca": 90
}

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Caca: 90
Rata-rata nilai: 81.67

#Tugas 3: Tuple Sederhana

In [1]:
mahasiswa = ("Budi", 20, "Teknik Komputer")
print("Nama :", mahasiswa[0])
print("Umur :", mahasiswa[1])
print("Prodi:", mahasiswa[2])

Nama : Budi
Umur : 20
Prodi: Teknik Komputer

#Tugas 4: Tuple Tidak Bisa Diubah

In [5]:
angka = (1, 2, 3)
angka[0] = 10  # Akan menghasilkan error

TypeError: 'tuple' object does not support item assignment

#Tugas 5: Dictionary Dasar

In [7]:
buku = {
    "Judul": "Algoritma",
    "Penulis": "Munir",
    "Tahun": 2021
}

print("Judul  :", buku["Judul"])
print("Penulis:", buku["Penulis"])
print("Tahun  :", buku["Tahun"])

Judul  : Algoritma
Penulis: Munir
Tahun  : 2021

#Tugas 6: Operasi Dictionary

In [8]:
dosen = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}

dosen["Umur"] = 40
dosen["Prodi"] = "Teknik Komputer"
del dosen["Umur"]

print(dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

#Tugas 7: Set dan Himpunan

In [10]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union       :", A | B)
print("Intersection:", A & B)
print("Difference  :", A - B)

Union       : {'Bahasa Inggris', 'Basis Data', 'Algoritma', 'Matematika'}
Intersection: {'Matematika', 'Algoritma'}
Difference  : {'Bahasa Inggris'}

#Tugas 8: Studi Kasus Dictionary

In [11]:
nilai = {"Andi": 85, "Budi": 90, "Cici": 78}

for nama, n in nilai.items():
    print(f"{nama}: {n}")

rata = sum(nilai.values()) / len(nilai)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 85
Budi: 90
Cici: 78
Rata-rata nilai: 84.33

#Tugas 9: Studi Kasus - Klub Mahasiswa

In [12]:
klub_A = {"Andi", "Budi", "Cici"}
klub_B = {"Cici", "Deni", "Eka"}

print("Union       :", klub_A | klub_B)
print("Intersection:", klub_A & klub_B)
print("Difference  :", klub_A - klub_B)

Union       : {'Budi', 'Andi', 'Eka', 'Cici', 'Deni'}
Intersection: {'Cici'}
Difference  : {'Budi', 'Andi'}