<a href="https://colab.research.google.com/github/AnnisaFarikha/Algoritma/blob/main/Praktikum03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#If Sederhana

In [1]:
nilai = int(input("Masukkan nilai ujian: "))
if nilai >= 60:
    print("Anda LULUS")

Masukkan nilai ujian: 70
Anda LULUS

#If-Else

In [2]:
nilai = int(input("Masukkan nilai ujian: "))
if nilai >= 60:
    print("Anda LULUS")
else:
    print("Anda TIDAK LULUS")

Masukkan nilai ujian: 50
Anda TIDAK LULUS

#If-Elif-Else (Grade)

In [4]:
nilai = int(input("Masukkan nilai akhir: "))

if nilai >= 85:
    grade = "A"
elif nilai >= 70:
    grade = "B"
elif nilai >= 55:
    grade = "C"
elif nilai >= 40:
    grade = "D"
else:
    grade = "E"

print(f"Nilai Anda {nilai}, maka grade Anda = {grade}")

Masukkan nilai akhir: 78
Nilai Anda 78, maka grade Anda = B

#Nested If (Beasiswa)

In [6]:
ipk = float(input("Masukkan IPK: "))
sks = int(input("Masukkan jumlah SKS: "))

if ipk >= 3.0:
    if sks >= 18:
        print("Anda LAYAK mendapat beasiswa")
    else:
        print("IPK memenuhi, tapi SKS kurang")
else:
    print("Anda TIDAK layak mendapat beasiswa")

Masukkan IPK: 2.8
Masukkan jumlah SKS: 20
Anda TIDAK layak mendapat beasiswa

#Match-Case

In [14]:
menu = int(input("Pilih menu (1-3): "))

match menu:
    case 1:
        print("Anda memilih Nasi Goreng")
    case 2:
        print("Anda memilih Mie Ayam")
    case 3:
        print("Anda memilih Soto Ayam")
    case _:
        print("Menu tidak tersedia")

Pilih menu (1-3): 9
Menu tidak tersedia

#Studi Kaus: Program Kasir

In [18]:
barang = input ("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))

total = harga * jumlah

if total >= 500000:
    diskon = 0.2
elif total >= 250000:
    diskon = 0.1
else:
    diskon = 0

bayar = total - (total * diskon)

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total  : Rp {total}")
print(f"Diskon : {diskon*100}%")
print(f"Bayar  : Rp {bayar}")

Masukkan nama barang: Pulpen
Masukkan harga barang: 5000
Masukkan jumlah barang: 10

===== Struk Belanja =====
Barang : Pulpen
Jumlah : 10
Total  : Rp 50000.0
Diskon : 0%
Bayar  : Rp 50000.0

#Cek Bilangan Positif/Negatif/Nol

In [21]:
bilangan = int(input("Masukkan sebuah bilangan: "))

if bilangan > 0:
    print("Bilangan positif")
elif bilangan < 0:
    print("Bilangan negatif")
else:
    print("Bilangan nol")

Masukkan sebuah bilangan: 34
Bilangan positif

#Menentukan Kategori Usia

In [22]:
umur = int(input("Masukkan umur: "))

if umur < 5:
    print("Kategori: Balita")
elif umur <= 11:
    print("Kategori: Anak-anak")
elif umur <= 17:
    print("Kategori: Remaja")
elif umur <= 59:
    print("Kategori: Dewasa")
else:
    print("Kategori: Lansia")

Masukkan umur: 19
Kategori: Dewasa

#Hitung Tarif Parkir

In [23]:
jam = int(input("Masukkan lama parkir (jam): "))

if jam <= 2:
    tarif = 5000
elif jam > 2 and jam * 2000 + 3000 < 20000:
    tarif = 5000 + (jam - 2) * 2000
else:
    tarif = 20000

print(f"Total tarif parkir: Rp {tarif}")

Masukkan lama parkir (jam): 8
Total tarif parkir: Rp 17000

#Cek Login Sederhana

In [24]:
username = input("Masukkan username: ")
password = input("Masukkan password: ")

if username == "admin" and password == "1234":
    print("Login berhasil")
else:
    print("Login gagal")

Masukkan username: admin
Masukkan password: 1234
Login berhasil

#One-Liner If(Cek Genap/Ganjil)

In [25]:
angka = int(input("Masukkan sebuah bilangan: "))
print("Genap" if angka % 2 == 0 else "Ganjil")

Masukkan sebuah bilangan: 14
Genap

#Menu Restoran dengan Match-Case

In [26]:
pilihan = int(input("Pilih menu (1-3): "))

match pilihan:
    case 1:
        print("Nasi Goreng")
    case 2:
        print("Mie Ayam")
    case 3:
        print("Soto Ayam")
    case _:
        print("Menu tidak tersedia")

Pilih menu (1-3): 2
Mie Ayam

#Studi Kasus Nyata - Program Penentuan Diskon

In [27]:

nama_barang = input("Masukkan nama barang: ")
jumlah = int(input("Masukkan jumlah barang: "))
harga = float(input("Masukkan harga satuan: "))

total = jumlah * harga

if total >= 500000:
    diskon = 0.2
elif total >= 250000:
    diskon = 0.1
else:
    diskon = 0

potongan = total * diskon
total_bayar = total - potongan

print("\n=== Struk Belanja ===")
print(f"Nama Barang : {nama_barang}")
print(f"Jumlah      : {jumlah}")
print(f"Harga       : Rp {harga:,.0f}")
print(f"Total       : Rp {total:,.0f}")
print(f"Diskon      : {diskon * 100:.0f}%")
print(f"Potongan    : Rp {potongan:,.0f}")
print(f"Total Bayar : Rp {total_bayar:,.0f}")

Masukkan nama barang: Skincare
Masukkan jumlah barang: 6
Masukkan harga satuan: 42000

=== Struk Belanja ===
Nama Barang : Skincare
Jumlah      : 6
Harga       : Rp 42,000
Total       : Rp 252,000
Diskon      : 10%
Potongan    : Rp 25,200
Total Bayar : Rp 226,800