<a href="https://colab.research.google.com/github/AnnisaFarikha/Algoritma/blob/main/Praktikum02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pengenalan Variabel dan Tipe Data

In [3]:
#Integer
umur = 20
print("Umur:", umur, "->", type(umur))

#Float
tinggi = 170.5
print("Tinggi:", tinggi, "->", type(tinggi))

#String
nama = "Andi"
print("Nama:", nama, "->", type(nama))

#Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "->", type(is_mahasiswa))

#List
nilai = [80, 85, 90]
print("Nilai:", nilai, "->", type(nilai))

#Tuple
koordinat = (10, 20)
print("Koordinat:", koordinat, "->", type(koordinat))

#Dictionary
mahasiswa = {"nama": "Andi", "umur": 20, "prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "->", type(mahasiswa))

#Set
hobi = {"membaca", "olahraga", "musik"}
print("Hobi:", hobi, "->", type(hobi))

Umur: 20 -> <class 'int'>
Tinggi: 170.5 -> <class 'float'>
Nama: Andi -> <class 'str'>
Status Mahasiswa: True -> <class 'bool'>
Nilai: [80, 85, 90] -> <class 'list'>
Koordinat: (10, 20) -> <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} -> <class 'dict'>
Hobi: {'musik', 'membaca', 'olahraga'} -> <class 'set'>

#Input dan Output Dasar

In [4]:
#Input string
nama = input("Masukkan nama Anda: ")

#Input integer
umur = int(input("Masukkan umur Anda: "))

#Input float
tinggi = float(input("Masukkan tinggi badan (cm): "))

#Output standar
print("Halo,", nama, "umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")

#Output degan format()
print("Halo (0), umur Anda (1) tahun, tinggi (2) cm".format(nama, umur, tinggi))

#Output dengan f-string
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Anda: Nisa
Masukkan umur Anda: 18
Masukkan tinggi badan (cm): 156
Halo, Nisa umur Anda: 18 tahun, tinggi: 156.0 cm
Halo (0), umur Anda (1) tahun, tinggi (2) cm
Halo Nisa, umur Anda 18 tahun, tinggi 156.0 cm

#Operator Aritmatika

In [6]:
a = 15
b = 4

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)
# Hasil program menunjukkan bahwa Python mampu melakukan perhitungan dasar dengan operator yang sederhana dan intuitif.

a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b = 50625

#Operator Relasional

In [7]:
x = 10
y = 20

print("x == y :", x == y)
print("x != y :", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)
# Dalam kehidupan nyata, operator relasional bisa dipakai untuk mengecek apakah nilai ujian >=60, atau apakah kehadiran mahasiswa memenuhi batas minimal.

x == y : False
x != y : True
x < y : True
x > y : False
x <= y : True
x >= y : False

#Operator Logika dengan Studi Kasus Nyata

In [8]:
#Operator logika dasar
a = True
b = False

print("a and b =", a and b)
print("a or b =", a or b)
print("not a =", not a)

#Studi kasus nyata: kelulusan
nilai = int(input("Masukkan nilai ujian: "))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12 # dari 16 pertemuan

if lulus_nilai and lulus_hadir:
    print("Status: LULUS")
else:
    print("Status: TIDAK LULUS")

a and b = False
a or b = True
not a = False
Masukkan nilai ujian: 96
Masukkan jumlah kehadiran: 14
Status: LULUS

#Program Kasir Sederhana

In [9]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))

total = harga * jumlah

#Aturan diskon
if total >= 500000:
    diskon = 0.2
elif total >= 250000:
    diskon = 0.1
else:
    diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total  : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar  : Rp {bayar}")

Masukkan nama barang: Susu Kotak
Masukkan harga barang: 15000
Masukkan jumlah barang: 50

===== Struk Belanja =====
Barang : Susu Kotak
Jumlah : 50
Total  : Rp 750000.0
Diskon : 20.0%
Bayar  : Rp 600000.0

#Identitas Mahasiswa

In [1]:
nama = input("Masukkan nama: ")
umur = int(input("Masukkan umur: "))
tinggi = float(input("Masukkan tinggi badan (cm): "))
status_aktif = bool(int(input("Apakah status aktif? (1 = True, 0 = False): ")))

print(f"\n=== Identitas Mahasiswa ===")
print(f"Nama         : {nama}")
print(f"Umur         : {umur} tahun")
print(f"Tinggi Badan : {tinggi} cm")
print(f"Status Aktif : {status_aktif}")

Masukkan nama: Nisa
Masukkan umur: 18
Masukkan tinggi badan (cm): 156
Apakah status aktif? (1 = True, 0 = False): 1

=== Identitas Mahasiswa ===
Nama         : Nisa
Umur         : 18 tahun
Tinggi Badan : 156.0 cm
Status Aktif : True

#Operasi Aritmatika

In [2]:
a = int(input("Masukkan bilangan pertama: "))
b = int(input("Masukkan bilangan kedua: "))

print("\n=== Hasil Operasi Aritmatika ===")
print(f"Penjumlahan : {a + b}")
print(f"Pengurangan : {a - b}")
print(f"Perkalian : {a * b}")
print(f"pembagian : {a / b}")
print(f"Sisa Bagi (mod) : {a % b}")
print(f"Pangkat : {a ** b}")

Masukkan bilangan pertama: 26
Masukkan bilangan kedua: 8

=== Hasil Operasi Aritmatika ===
Penjumlahan : 34
Pengurangan : 18
Perkalian : 208
pembagian : 3.25
Sisa Bagi (mod) : 2
Pangkat : 208827064576

#Konversi Nilai

In [7]:
angka = float(input("Masukkan angka desimal: "))

print("\n=== Hasil Konversi Nilai ===")
print(f"Dalam bentuk integer : {int(angka)}")
print(f"Dalam bentuk string  : {str(angka)}")
print(f"Pembulatan 2 digit   : {round(angka, 2)}")

Masukkan angka desimal: 2.608

=== Hasil Konversi Nilai ===
Dalam bentuk integer : 2
Dalam bentuk string  : 2.608
Pembulatan 2 digit   : 2.61

#Operator Relasional

In [8]:
x = float(input("Masukkan bilangan pertama: "))
y = float(input("Masukkan bilangan kedua: "))

print("\n=== Hasil Perbandingan ===")
print(f"{x} == {y} : {x == y}")
print(f"{x} != {y} : {x != y}")
print(f"{x} < {y} : {x < y}")
print(f"{x} > {y} : {x > y}")
print(f"{x} <= {y} : {x <= y}")
print(f"{x} >= {y} : {x >= y}")

Masukkan bilangan pertama: 128
Masukkan bilangan kedua: 926

=== Hasil Perbandingan ===
128.0 == 926.0 : False
128.0 != 926.0 : True
128.0 < 926.0 : True
128.0 > 926.0 : False
128.0 <= 926.0 : True
128.0 >= 926.0 : False